name: Build Lambda and Deploy

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - master
      - feature/add_login_page
  workflow_dispatch:

jobs:
  build-lambda:
    runs-on: ubuntu-latest
    env:
      LAMBDA_OUTPUT: function.zip
      BUILD_DIR: backend/build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Build Linux binary for Lambda
        working-directory: ./backend
        run: |
          mkdir -p $BUILD_DIR
          GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -o $BUILD_DIR/bootstrap ./cmd/ranking
          cd $BUILD_DIR
          zip -r ../$LAMBDA_OUTPUT bootstrap
          cd ../..

      - name: Upload artifact (GitHub Actions)
        uses: actions/upload-artifact@v4
        with:
          name: lambda-zip
          path: backend/$LAMBDA_OUTPUT

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-session-name: GitHubActions

      - name: get-caller-identity is allowed to run on role.
        run: aws sts get-caller-identity

      - name: lambda update
        run: |
          # Use the zip created at backend/$LAMBDA_OUTPUT by the build step
          aws lambda update-function-code --function-name ${{ secrets.LAMBDA_NAME }} --zip-file fileb://backend/${{ env.LAMBDA_OUTPUT }} --publish